body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

audio {
    position: absolute;
    opacity: 0;
}

/* .slider-thumb:hover {

} */

.slider-thumb::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 900px;
    height:930px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-animation: sliderShape 8s linear infinite;
}

@keyframes sliderShape {

    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0), rotateZ(.1deg),
        translate(-50%, -50%);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0), rotateZ(0.01deg),
        translate(-50%, -50%);;
    }

    50% {
        transform: translate3d(0, 0, 0), rotateZ(0.01deg),
        translate(-50%, -50%);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0), rotateZ(0.01deg),
        translate(-50%, -50%);;
    }
}

.game {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(rgba(0, 0, 0, 0.123), #3f87a6);

}

.page>h1 {
    font-size: 50px;
    font-weight: bolder;
    margin: 150px 0;

}

.fa-regular {
    font-size: 25px;
    padding-left: 7px;

}

.icon {
    position: absolute;
}

.page>input {
    border-radius: 10px;
    margin-bottom: 0;
    text-align: center;
    transition: 1s;
    width: 20px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page>input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 0;

}

.page>input:focus {
    transform: scale(1.05);
    box-shadow: 0 0 5px 0;
    width: 35%;

}

.page>button {
    border: none;
    background: radial-gradient(circle ,#3f87a6, #ebf8e1);
    text-decoration: solid;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    /* color: #ebf8e1; */
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
    margin-top: 10px;

}

.page {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 25%;
    height: 75%;
    border-radius: 100px;
    transition: 1s;
    box-shadow: 0 0 5px 15px #ffffff;
    z-index: 3;

}

#TentaBtn:hover {
    transform: scale(1.1);

}

#TentaBtn:active {
    transform: scale(1);
    transition: .2;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.balao {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    top: 0;
    position: absolute;
    top: 1100px;
    opacity: 0;
    z-index: 2;
}

.fail {
    width: 600px;
    position: absolute;
    opacity: 0;
    margin-top: 150px;
    z-index: -10;

}

.anim {
    animation: balaoSubindo 5s linear infinite;
}

.animFail {
    animation: failUp 2.5s linear;
    z-index: 10;
    /* opacity: 1; */
}

.balao img {
    height: 30%;
    animation: animBalao 5s linear infinite;
}

.img:nth-child(3n +1) {
    margin-top: 100px;

}

.img-2 {
    margin-top: 200px;
}

.img-3 {
    margin-top: 50px
}

.img-9 {
    margin-top: 50px
}

.img-8 {
    margin-top: 150px
}

.img-5 {
    margin-top: -75px;
}

@keyframes balaoSubindo {
    0% {
        left: -30px;
    }

    25% {
        left: 20px;
    }

    50% {
        left: -40px;
    }

    75% {
        left: 20px;
    }

    100% {
        top: -600px;
        left: -10px;
    }
}

@keyframes animBalao {
    25% {
        transform: rotate(8deg);
    }

    37.5% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    62.5% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(8deg);
    }

    87.5% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-8deg);
    }
}

@keyframes failUp {
    0% {
        width: 1px;
    }

    100% {
        width: 600px;
    }

}

@media (max-height: 930px) {
    .page>h1 {
        font-size: 35px;
        margin: 30% 0;
    }

    .page>h3 {
        font-size: 20px;
    }

    .slider-thumb::before {
        width: 850px;
        height: 850px;
    }

}

@media (max-height: 770px) {
    .page>h1 {
        font-size: 25px;
        margin: 10% 0;
    }

    .page>h3 {
        font-size: 15px;
    }

    .slider-thumb::before {
        width: 750px;
        height: 750px;
    }

}

@media (max-height: 580px) {
    .page>h1 {
        margin: 0;
        margin-top: 5px;
    }

    .slider-thumb::before {
        width: 450px;
        height: 450px;
    }

}

@media (max-width:1200px) {
    .page {
        width: 50%;
    }

    .page>h1 {
        font-size: 40px;
        margin: 70px 0;
    }


}

@media (max-width: 1630px) {
    .page>h1 {
        font-size: 35px;

    }

}

@media (max-width:300px) and (max-height:550px) {
    .page {
        width: 100%;
        border-radius: 25px;
    }

    .page>h1 {
        font-size: 25px;
        margin: 0 0;

    }

    .page>h3 {
        font-size: 13px;
    }

    #numTenta {
        font-size: 13px;
        margin: 0;
        padding: 0;
        line-height: 17px;
    }

    #TentaBtn {
        font-size: 15px;
        margin-bottom: 0;
        padding-bottom: 0;

    }

    .slider-thumb::before {
        width: 250px;
        height: 250px;
    }

}